<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
  </head>
  <body>
    <h2>检查接口</h2>
    <button id="btn_01">检查接口支持列表</button>
    <p id="p_01"></p>

    <h2>图像接口</h2>
    <button id="btn_02">点击调用图像接口</button>
    <p id="p_02"></p>

    <h2>网络状态</h2>
    <button id="btn_03">点击获得当前网络状态</button>
    <p id="p_03"></p>

    <h2>地理接口</h2>
    <button id="btn_04_01">调用地理位置</button>
    <button id="btn_04_02">返回地理位置</button>
    <p id="p_04"></p>

    <h2>扫一扫接口</h2>
    <button id="btn_05">扫一扫返回扫描信息</button>
    <p id="p_05"></p>

  </body>
  <script src="/javascripts/index.js"></script>
</html>
